In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import dependencies
import pandas as pd
import numpy as np
# from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from imblearn.metrics import classification_report_imbalanced

In [4]:
# Connecting to the final database through SQL
import sqlalchemy as db
import psycopg2
from sqlalchemy import create_engine
from config2 import pwd

# Connect to your postgres DB
conn = psycopg2.connect(
    host="localhost",
    port = "5432",
    database="Migration",
    user="postgres",
    password= pwd)

# Open a cursor to perform database operations
cur = conn.cursor()

# Execute a query
cur.execute("SELECT * FROM migration_data")

# Retrieve query results
record = cur.fetchall()

In [5]:
# Create DF from SQL table
migration_data_df = pd.DataFrame(record, columns = ["country_id_alpha", "country_name", "year", "total_country_population", "annual_growth_rate", "country_area", "population_density", "total_fertility_rate", "crude_birth_rate", "life_expectancy_at_birth", "infant_mortality_rate", "crude_death_rate", "net_migration_rate", "migration_flag", "total_migrant_population", "migrant_male_population", "migrant_female_population"])
migration_data_df.head(10)

,country_id_alpha,country_name,year,total_country_population,annual_growth_rate,country_area,population_density,total_fertility_rate,crude_birth_rate,life_expectancy_at_birth,infant_mortality_rate,crude_death_rate,net_migration_rate,migration_flag,total_migrant_population,migrant_male_population,migrant_female_population
0,AF,Afghanistan,1990,13568282,-1.928,652230,20.8,8.0000,54.44,42.19,167.73,22.50,-51.23,False,57686.0,32558.0,25128.0
1,AF,Afghanistan,1995,19445013,3.492,652230,29.8,8.0000,53.23,43.88,156.75,20.99,2.68,True,71522.0,39105.0,32417.0
2,AF,Afghanistan,2000,22461349,-1.328,652230,34.4,8.0000,51.35,45.49,146.75,19.33,-45.30,False,75917.0,42848.0,33069.0
3,AF,Afghanistan,2005,26332646,3.439,652230,40.4,6.3707,41.51,47.06,137.56,16.55,9.43,True,87314.0,49281.0,38033.0
4,AF,Afghanistan,2010,29116851,2.139,652230,44.6,5.8532,39.77,48.93,127.79,15.13,-3.25,False,102276.0,57726.0,44550.0
5,AF,Afghanistan,2015,32547550,2.306,652230,49.9,5.3260,38.52,50.87,118.07,13.96,-1.51,False,339432.0,171550.0,167882.0
6,AF,Afghanistan,2020,36594776,2.366,652230,56.1,4.8200,36.56,52.84,108.64,12.80,-0.10,False,144098.0,69189.0,74909.0
7,AL,Albania,1990,3244925,1.110,27398,118.4,3.0884,25.72,71.16,44.28,6.01,-8.61,False,66013.0,30579.0,35434.0
8,AL,Albania,1995,3158153,1.491,27398,115.3,2.9429,23.32,71.24,50.50,6.20,-2.21,False,71354.0,33284.0,38070.0
9,AL,Albania,2000,3158351,-1.019,27398,115.3,2.1716,16.43,74.70,22.62,5.39,-21.22,False,76695.0,35990.0,40705.0

In [6]:
# Reorder columns
columns=["country_id_alpha", "country_name", "year", "annual_growth_rate", "country_area", "population_density", "total_fertility_rate", "crude_birth_rate", "life_expectancy_at_birth", "infant_mortality_rate", "crude_death_rate", "total_country_population", "total_migrant_population", "migrant_male_population", "migrant_female_population", "net_migration_rate", "migration_flag"]
migration_data_df = migration_data_df[columns]
migration_data_df.head()

,country_id_alpha,country_name,year,annual_growth_rate,country_area,population_density,total_fertility_rate,crude_birth_rate,life_expectancy_at_birth,infant_mortality_rate,crude_death_rate,total_country_population,total_migrant_population,migrant_male_population,migrant_female_population,net_migration_rate,migration_flag
0,AF,Afghanistan,1990,-1.928,652230,20.8,8.0000,54.44,42.19,167.73,22.50,13568282,57686.0,32558.0,25128.0,-51.23,False
1,AF,Afghanistan,1995,3.492,652230,29.8,8.0000,53.23,43.88,156.75,20.99,19445013,71522.0,39105.0,32417.0,2.68,True
2,AF,Afghanistan,2000,-1.328,652230,34.4,8.0000,51.35,45.49,146.75,19.33,22461349,75917.0,42848.0,33069.0,-45.30,False
3,AF,Afghanistan,2005,3.439,652230,40.4,6.3707,41.51,47.06,137.56,16.55,26332646,87314.0,49281.0,38033.0,9.43,True
4,AF,Afghanistan,2010,2.139,652230,44.6,5.8532,39.77,48.93,127.79,15.13,29116851,102276.0,57726.0,44550.0,-3.25,False

In [7]:
# Check for NaN values.
migration_data_df.isna().sum()

country_id_alpha              0
country_name                  0
year                          0
annual_growth_rate            0
country_area                  0
population_density            0
total_fertility_rate          0
crude_birth_rate              0
life_expectancy_at_birth      0
infant_mortality_rate         0
crude_death_rate              0
total_country_population      0
total_migrant_population     48
migrant_male_population      48
migrant_female_population    48
net_migration_rate            0
migration_flag                0
dtype: int64

In [8]:
# Identify the rows that have NaN values.
migration_data_df[migration_data_df["total_migrant_population"].isna()]

,country_id_alpha,country_name,year,annual_growth_rate,country_area,population_density,total_fertility_rate,crude_birth_rate,life_expectancy_at_birth,infant_mortality_rate,crude_death_rate,total_country_population,total_migrant_population,migrant_male_population,migrant_female_population,net_migration_rate,migration_flag
335,CW,Curaçao,1995,-0.888,444,318.9,2.6400,20.38,73.45,13.61,8.07,141590,NaN,NaN,NaN,-21.19,False
336,CW,Curaçao,2000,-1.477,444,301.7,2.2208,15.11,75.88,10.94,7.49,133963,NaN,NaN,NaN,-22.39,False
337,CW,Curaçao,2005,1.120,444,306.4,2.2316,14.07,76.19,10.63,8.01,136036,NaN,NaN,NaN,5.15,True
551,GG,Guernsey,1995,-0.290,78,781.8,1.3881,10.63,77.65,3.06,10.82,60977,NaN,NaN,NaN,-2.71,False
552,GG,Guernsey,2000,0.344,78,794.2,1.4698,10.67,79.40,4.78,9.46,61948,NaN,NaN,NaN,2.23,True
553,GG,Guernsey,2005,0.486,78,809.4,1.4431,10.49,80.83,4.18,8.63,63131,NaN,NaN,NaN,3.01,True
554,GG,Guernsey,2010,0.505,78,830.8,1.5317,10.25,82.63,3.52,7.96,64799,NaN,NaN,NaN,2.76,True
555,GG,Guernsey,2015,0.351,78,848.6,1.5527,9.81,82.73,3.49,8.61,66187,NaN,NaN,NaN,2.31,True
556,GG,Guernsey,2020,0.243,78,861.2,1.5738,9.78,82.84,3.47,9.23,67173,NaN,NaN,NaN,1.88,True
673,JE,Jersey,1995,0.260,116,732.7,1.5000,13.19,77.18,6.28,10.04,84993,NaN,NaN,NaN,-0.55,False
674,JE,Jersey,2000,0.475,116,753.3,1.4027,11.17,78.55,5.54,8.97,87379,NaN,NaN,NaN,2.55,True
675,JE,Jersey,2005,0.584,116,762.9,1.5986,10.95,79.80,4.93,8.50,88491,NaN,NaN,NaN,3.39,True
676,JE,Jersey,2010,0.815,116,804.5,1.6382,10.74,80.63,4.58,7.94,93317,NaN,NaN,NaN,5.36,True
677,JE,Jersey,2015,0.776,116,836.9,1.6459,11.75,81.44,4.28,7.77,97084,NaN,NaN,NaN,3.77,True
678,JE,Jersey,2020,0.701,116,868.8,1.6536,12.45,82.22,4.01,7.77,100782,NaN,NaN,NaN,2.32,True
719,XK,Kosovo,1990,1.915,10887,171.0,3.9028,29.64,67.70,56.88,6.73,1861687,NaN,NaN,NaN,-3.76,False
720,XK,Kosovo,1995,1.555,10887,186.3,2.7014,22.07,68.50,48.81,6.13,2028599,NaN,NaN,NaN,-0.39,False
721,XK,Kosovo,2000,1.031,10887,156.2,2.9543,22.76,67.92,54.98,7.03,1700132,NaN,NaN,NaN,-5.41,False
722,XK,Kosovo,2005,0.597,10887,162.3,2.6473,20.89,68.66,49.31,7.03,1767272,NaN,NaN,NaN,-7.89,False
723,XK,Kosovo,2010,0.569,10887,166.7,2.2893,18.53,69.85,41.21,7.08,1814820,NaN,NaN,NaN,-5.76,False
724,XK,Kosovo,2015,0.631,10887,171.8,2.0921,17.09,71.33,32.16,7.05,1870354,NaN,NaN,NaN,-3.73,False
725,XK,Kosovo,2020,0.564,10887,177.4,1.9482,15.42,71.05,27.27,7.98,1931888,NaN,NaN,NaN,-1.80,False
898,ME,Montenegro,1995,0.108,13452,46.4,2.0424,15.22,74.41,12.54,7.91,623521,NaN,NaN,NaN,-6.24,False
899,ME,Montenegro,2000,-0.019,13452,46.3,2.0066,14.74,74.21,11.35,8.69,622985,NaN,NaN,NaN,-6.24,False
900,ME,Montenegro,2005,-0.030,13452,46.1,1.6230,11.85,74.41,9.24,9.41,620641,NaN,NaN,NaN,-2.73,False
1100,BL,Saint Barthelemy,1990,4.339,25,201.9,1.8555,18.03,74.53,9.85,5.35,5047,NaN,NaN,NaN,30.71,True
1101,BL,Saint Barthelemy,1995,3.385,25,245.8,1.6168,15.95,75.96,9.81,4.88,6145,NaN,NaN,NaN,22.78,True
1102,BL,Saint Barthelemy,2000,2.528,25,284.8,1.6207,14.89,76.85,9.16,5.06,7121,NaN,NaN,NaN,15.45,True
1103,BL,Saint Barthelemy,2005,0.106,25,303.2,1.6247,13.06,77.71,8.56,5.41,7580,NaN,NaN,NaN,-6.60,False
1104,BL,Saint Barthelemy,2010,-0.554,25,296.2,1.6287,10.53,78.55,8.00,6.35,7405,NaN,NaN,NaN,-9.72,False
1105,BL,Saint Barthelemy,2015,-0.373,25,289.6,1.6326,9.39,79.35,7.48,7.32,7240,NaN,NaN,NaN,-5.80,False
1106,BL,Saint Barthelemy,2020,-0.224,25,285.2,1.6366,9.26,80.14,6.99,8.55,7131,NaN,NaN,NaN,-2.94,False
1128,MF,Saint Martin,1990,7.091,54,556.2,2.1151,24.90,74.53,9.85,2.83,30036,NaN,NaN,NaN,48.84,True
1129,MF,Saint Martin,1995,-1.550,54,605.8,1.8386,19.47,75.96,9.81,2.93,32711,NaN,NaN,NaN,-32.04,False
1130,MF,Saint Martin,2000,-2.636,54,525.5,1.8320,17.37,76.85,9.16,3.35,28378,NaN,NaN,NaN,-40.38,False
1131,MF,Saint Martin,2005,1.839,54,516.5,1.8254,17.42,77.71,8.56,3.69,27893,NaN,NaN,NaN,4.66,True
1132,MF,Saint Martin,2010,1.317,54,559.6,1.8188,16.81,78.55,8.00,3.87,30218,NaN,NaN,NaN,0.23,True
1133,MF,Saint Martin,2015,0.649,54,587.8,1.8122,15.47,79.35,7.48,4.13,31740,NaN,NaN,NaN,-4.85,False
1134,MF,Saint Martin,2020,0.387,54,603.0,1.8056,14.37,80.14,6.99,4.51,32560,NaN,NaN,NaN,-5.99,False
1209,SX,Sint Maarten,1995,-0.517,34,939.1,1.8924,18.85,72.40,14.92,4.04,31928,NaN,NaN,NaN,-19.98,False
1210,SX,Sint Maarten,2000,-1.065,34,905.4,1.6113,13.74,74.50,12.38,3.67,30784,NaN,NaN,NaN,-20.73,False
1291,TW,Taiwan,1990,1.141,32260,628.6,1.8050,16.59,72.96,18.53,5.47,20278248,NaN,NaN,NaN,0.29,True
1292,TW,Taiwan,1995,0.863,32260,660.0,1.7750,15.35,75.11,8.44,5.47,21290414,NaN,NaN,NaN,-1.25,False
1293,TW,Taiwan,2000,0.846,32260,687.7,1.6800,13.86,76.57,6.29,5.65,22184552,NaN,NaN,NaN,0.25,True
1294,TW,Taiwan,2005,0.332,32260,704.5,1.1150,9.03,77.17,5.74,6.39,22727093,NaN,NaN,NaN,0.68,True
1295,TW,Taiwan,2010,0.173,32260,716.4,0.8950,7.18,79.26,4.70,6.40,23110964,NaN,NaN,NaN,0.95,True
1296,TW,Taiwan,2015,0.238,32260,726.2,1.1750,8.99,80.20,4.27,6.97,23428727,NaN,NaN,NaN,0.37,True
1297,TW,Taiwan,2020,0.039,32260,730.4,1.0603,7.47,80.73,4.10,7.72,23563036,NaN,NaN,NaN,0.65,True

In [9]:
# Delete all "country_id_alpha" data with NaN values.
migration_data_df = migration_data_df[migration_data_df["country_id_alpha"].str.contains("CW|GG|JE|XK|ME|BL|MF|SX|TW")==False]
migration_data_df[migration_data_df["total_migrant_population"].isna()]

Empty DataFrame
Columns: [country_id_alpha, country_name, year, annual_growth_rate, country_area, population_density, total_fertility_rate, crude_birth_rate, life_expectancy_at_birth, infant_mortality_rate, crude_death_rate, total_country_population, total_migrant_population, migrant_male_population, migrant_female_population, net_migration_rate, migration_flag]
Index: []

In [10]:
# Change boolean values for "migration_flag" for binary values
migration_data_df["migration_flag"] = migration_data_df["migration_flag"].replace({True: 1, False: 0})

migration_data_df["total_migrant_population"] = migration_data_df["total_migrant_population"].apply(int)
migration_data_df["migrant_male_population"] = migration_data_df["migrant_male_population"].apply(int)
migration_data_df["migrant_female_population"] = migration_data_df["migrant_female_population"].apply(int)

migration_data_df.head(10)

,country_id_alpha,country_name,year,annual_growth_rate,country_area,population_density,total_fertility_rate,crude_birth_rate,life_expectancy_at_birth,infant_mortality_rate,crude_death_rate,total_country_population,total_migrant_population,migrant_male_population,migrant_female_population,net_migration_rate,migration_flag
0,AF,Afghanistan,1990,-1.928,652230,20.8,8.0000,54.44,42.19,167.73,22.50,13568282,57686,32558,25128,-51.23,0
1,AF,Afghanistan,1995,3.492,652230,29.8,8.0000,53.23,43.88,156.75,20.99,19445013,71522,39105,32417,2.68,1
2,AF,Afghanistan,2000,-1.328,652230,34.4,8.0000,51.35,45.49,146.75,19.33,22461349,75917,42848,33069,-45.30,0
3,AF,Afghanistan,2005,3.439,652230,40.4,6.3707,41.51,47.06,137.56,16.55,26332646,87314,49281,38033,9.43,1
4,AF,Afghanistan,2010,2.139,652230,44.6,5.8532,39.77,48.93,127.79,15.13,29116851,102276,57726,44550,-3.25,0
5,AF,Afghanistan,2015,2.306,652230,49.9,5.3260,38.52,50.87,118.07,13.96,32547550,339432,171550,167882,-1.51,0
6,AF,Afghanistan,2020,2.366,652230,56.1,4.8200,36.56,52.84,108.64,12.80,36594776,144098,69189,74909,-0.10,0
7,AL,Albania,1990,1.110,27398,118.4,3.0884,25.72,71.16,44.28,6.01,3244925,66013,30579,35434,-8.61,0
8,AL,Albania,1995,1.491,27398,115.3,2.9429,23.32,71.24,50.50,6.20,3158153,71354,33284,38070,-2.21,0
9,AL,Albania,2000,-1.019,27398,115.3,2.1716,16.43,74.70,22.62,5.39,3158351,76695,35990,40705,-21.22,0

In [11]:
migration_data_df.dtypes

country_id_alpha              object
country_name                  object
year                           int64
annual_growth_rate           float64
country_area                   int64
population_density           float64
total_fertility_rate         float64
crude_birth_rate             float64
life_expectancy_at_birth     float64
infant_mortality_rate        float64
crude_death_rate             float64
total_country_population       int64
total_migrant_population       int64
migrant_male_population        int64
migrant_female_population      int64
net_migration_rate           float64
migration_flag                 int64
dtype: object

Split the data into Training and Testing

In [12]:
# Create our features
X = pd.get_dummies(migration_data_df.drop(columns=["migration_flag", "country_id_alpha", "country_name", "year", "country_area", "net_migration_rate"]))

# Create our target
y = migration_data_df["migration_flag"]

In [13]:
X.describe()

,annual_growth_rate,population_density,total_fertility_rate,crude_birth_rate,life_expectancy_at_birth,infant_mortality_rate,crude_death_rate,total_country_population,total_migrant_population,migrant_male_population,migrant_female_population
count,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1.419000e+03,1.419000e+03,1.419000e+03,1.419000e+03
mean,1.278055,384.949824,3.031473,22.896965,69.572685,33.215934,8.417052,2.969279e+07,8.120876e+05,4.187911e+05,3.932964e+05
std,3.967187,1762.000530,1.617946,11.612724,9.399712,32.491108,3.642378,1.223040e+08,2.174123e+06,1.116949e+06,1.080226e+06
min,-115.363000,0.000000,0.879600,6.630000,29.470000,1.540000,1.200000,3.951000e+03,1.080000e+02,6.100000e+01,4.700000e+01
25%,0.423000,29.100000,1.771700,12.920000,64.255000,8.910000,5.960000,5.821105e+05,2.802700e+04,1.465150e+04,1.280450e+04
50%,1.237000,77.300000,2.450000,20.040000,71.680000,20.700000,7.630000,5.354669e+06,1.522350e+05,7.743600e+04,7.459400e+04
75%,2.334500,182.000000,4.104150,31.535000,76.430000,48.505000,10.110000,1.869113e+07,6.460165e+05,3.201200e+05,3.056490e+05
max,34.084000,22332.000000,8.270000,57.270000,89.780000,180.130000,32.940000,1.404032e+09,5.063284e+07,2.447900e+07,2.615384e+07

In [14]:
# Check the balance of our target values
y.value_counts()

0    803
1    616
Name: migration_flag, dtype: int64

In [15]:
# Split the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

Scale the data

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [17]:
X_scaler = scaler.fit(X_train)

In [18]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Balanced Random Forest Classifier - With migration info

In [19]:
# Create the Random Forest Classifier instance
from sklearn.ensemble import RandomForestClassifier

In [20]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=78)

# Fit the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [21]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [22]:
predictions

array([1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1])

In [23]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

In [24]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [25]:
# Displaying results
print("Confusion Matrix")
display(cm_df)

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          179           22
Actual 1           23          131

In [26]:
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.8732394366197183

In [27]:
print("Classification Report")
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           0       0.89      0.89      0.89       201
           1       0.86      0.85      0.85       154

    accuracy                           0.87       355
   macro avg       0.87      0.87      0.87       355
weighted avg       0.87      0.87      0.87       355

In [28]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.26084976, 0.0541934 , 0.10127538, 0.09225324, 0.0786409 ,
       0.1140517 , 0.06210434, 0.07212841, 0.05029486, 0.06018359,
       0.05402441])

In [29]:
# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.26084976311660923, 'annual_growth_rate'),
 (0.11405170209762115, 'infant_mortality_rate'),
 (0.1012753776064856, 'total_fertility_rate'),
 (0.09225323889743768, 'crude_birth_rate'),
 (0.07864090101069811, 'life_expectancy_at_birth'),
 (0.07212840976272065, 'total_country_population'),
 (0.06210434421989633, 'crude_death_rate'),
 (0.060183594183332814, 'migrant_male_population'),
 (0.05419339880734877, 'population_density'),
 (0.0540244078268078, 'migrant_female_population'),
 (0.05029486247104198, 'total_migrant_population')]

Deep Learning Model - With Migration info

In [30]:
pip install tensorflow

Requirement already satisfied: tensorflow in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (2.11.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (4.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (1.51.1)
Requirement already satisfied: numpy>=1.20 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (1.21.5)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: packaging in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (22.0)
Requirement already satisfied: flatbuffers>=2.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (23.1.21)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (2.11.2)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: setuptools in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (65.6.3)
Requirement already satisfied: keras<2.12,>=2.11.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (0.30.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (3.19.6)
Requirement already satisfied: libclang>=13.0.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (15.0.6.1)
Requirement already satisfied: wrapt>=1.11.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (1.14.1)
Requirement already satisfied: absl-py>=1.0.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (1.4.0)
Requirement already satisfied: termcolor>=1.1.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (2.2.0)
Requirement already satisfied: h5py>=2.9.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (3.7.0)
Requirement already satisfied: six>=1.12.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from astunparse>=1.6.0->tensorflow) (0.38.4)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.28.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.16.1)
Requirement already satisfied: markdown>=2.6.8 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (3.3.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (0.6.1)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.2.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (0.4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (5.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow) (3.10.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (1.26.14)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow) (2.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow) (3.2.2)
Requirement already satisfied: zipp>=0.5 in /Users/pavlarsen/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (from importlib-metadata->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow) (3.11.0)
Note: you may need to restart the kernel to use updated packages.

In [29]:
# Import dependencies
import tensorflow as tf

In [30]:
# Define the deep neural model
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 16
hidden_nodes_layer2 = 8

nn = tf.keras.models.Sequential()

# First hidden layer 
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics 
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
34/34 [==============================] - 2s 5ms/step - loss: 0.8442 - accuracy: 0.4408
Epoch 2/100
34/34 [==============================] - 0s 3ms/step - loss: 0.6684 - accuracy: 0.5949
Epoch 3/100
34/34 [==============================] - 0s 3ms/step - loss: 0.6220 - accuracy: 0.6682
Epoch 4/100
34/34 [==============================] - 0s 4ms/step - loss: 0.6051 - accuracy: 0.6898
Epoch 5/100
34/34 [==============================] - 0s 3ms/step - loss: 0.5938 - accuracy: 0.6992
Epoch 6/100
34/34 [==============================] - 0s 3ms/step - loss: 0.5830 - accuracy: 0.7124
Epoch 7/100
34/34 [==============================] - 0s 3ms/step - loss: 0.5718 - accuracy: 0.7152
Epoch 8/100
34/34 [==============================] - 0s 3ms/step - loss: 0.5591 - accuracy: 0.7274
Epoch 9/100
34/34 [==============================] - 0s 3ms/step - loss: 0.5440 - accuracy: 0.7378
Epoch 10/100
34/34 [==============================] - 0s 3ms/step - loss: 0.5266 - accuracy: 0.7528
Epoch 11/100
34/34 [==============================] - 0s 4ms/step - loss: 0.5099 - accuracy: 0.7679
Epoch 12/100
34/34 [==============================] - 0s 4ms/step - loss: 0.4893 - accuracy: 0.7857
Epoch 13/100
34/34 [==============================] - 0s 4ms/step - loss: 0.4695 - accuracy: 0.7998
Epoch 14/100
34/34 [==============================] - 0s 3ms/step - loss: 0.4515 - accuracy: 0.8130
Epoch 15/100
34/34 [==============================] - 0s 3ms/step - loss: 0.4314 - accuracy: 0.8233
Epoch 16/100
34/34 [==============================] - 0s 3ms/step - loss: 0.4165 - accuracy: 0.8252
Epoch 17/100
34/34 [==============================] - 0s 4ms/step - loss: 0.3994 - accuracy: 0.8412
Epoch 18/100
34/34 [==============================] - 0s 4ms/step - loss: 0.3860 - accuracy: 0.8496
Epoch 19/100
34/34 [==============================] - 0s 4ms/step - loss: 0.3706 - accuracy: 0.8609
Epoch 20/100
34/34 [==============================] - 0s 4ms/step - loss: 0.3599 - accuracy: 0.8581
Epoch 21/100
34/34 [==============================] - 0s 4ms/step - loss: 0.3435 - accuracy: 0.8741
Epoch 22/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3339 - accuracy: 0.8769
Epoch 23/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3233 - accuracy: 0.8806
Epoch 24/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3119 - accuracy: 0.8853
Epoch 25/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3025 - accuracy: 0.8947
Epoch 26/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2943 - accuracy: 0.8872
Epoch 27/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2857 - accuracy: 0.9032
Epoch 28/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2770 - accuracy: 0.9004
Epoch 29/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2681 - accuracy: 0.9088
Epoch 30/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2618 - accuracy: 0.9041
Epoch 31/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2594 - accuracy: 0.9051
Epoch 32/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2500 - accuracy: 0.9126
Epoch 33/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2466 - accuracy: 0.9135
Epoch 34/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2385 - accuracy: 0.9107
Epoch 35/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2331 - accuracy: 0.9267
Epoch 36/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2264 - accuracy: 0.9164
Epoch 37/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2230 - accuracy: 0.9201
Epoch 38/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2181 - accuracy: 0.9239
Epoch 39/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2151 - accuracy: 0.9229
Epoch 40/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2084 - accuracy: 0.9286
Epoch 41/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2039 - accuracy: 0.9333
Epoch 42/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1999 - accuracy: 0.9323
Epoch 43/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1986 - accuracy: 0.9370
Epoch 44/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1931 - accuracy: 0.9455
Epoch 45/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1908 - accuracy: 0.9314
Epoch 46/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1855 - accuracy: 0.9464
Epoch 47/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1823 - accuracy: 0.9427
Epoch 48/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1807 - accuracy: 0.9436
Epoch 49/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1775 - accuracy: 0.9427
Epoch 50/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1775 - accuracy: 0.9417
Epoch 51/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1726 - accuracy: 0.9408
Epoch 52/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1718 - accuracy: 0.9417
Epoch 53/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1653 - accuracy: 0.9568
Epoch 54/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1645 - accuracy: 0.9511
Epoch 55/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1645 - accuracy: 0.9502
Epoch 56/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1603 - accuracy: 0.9596
Epoch 57/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1557 - accuracy: 0.9615
Epoch 58/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1538 - accuracy: 0.9643
Epoch 59/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1533 - accuracy: 0.9596
Epoch 60/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1642 - accuracy: 0.9389
Epoch 61/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1554 - accuracy: 0.9492
Epoch 62/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1458 - accuracy: 0.9615
Epoch 63/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1527 - accuracy: 0.9502
Epoch 64/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1467 - accuracy: 0.9539
Epoch 65/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1450 - accuracy: 0.9530
Epoch 66/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1430 - accuracy: 0.9549
Epoch 67/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1387 - accuracy: 0.9558
Epoch 68/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1371 - accuracy: 0.9690
Epoch 69/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1371 - accuracy: 0.9633
Epoch 70/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1323 - accuracy: 0.9662
Epoch 71/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1337 - accuracy: 0.9624
Epoch 72/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1332 - accuracy: 0.9652
Epoch 73/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1336 - accuracy: 0.9615
Epoch 74/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1295 - accuracy: 0.9652
Epoch 75/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1264 - accuracy: 0.9718
Epoch 76/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1256 - accuracy: 0.9662
Epoch 77/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1267 - accuracy: 0.9662
Epoch 78/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1240 - accuracy: 0.9662
Epoch 79/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1232 - accuracy: 0.9671
Epoch 80/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1240 - accuracy: 0.9690
Epoch 81/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1242 - accuracy: 0.9568
Epoch 82/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1223 - accuracy: 0.9652
Epoch 83/100

34/34 [==============================] - 0s 3ms/step - loss: 0.1187 - accuracy: 0.9699
Epoch 84/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1158 - accuracy: 0.9699
Epoch 85/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1165 - accuracy: 0.9699
Epoch 86/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1149 - accuracy: 0.9737
Epoch 87/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1163 - accuracy: 0.9718
Epoch 88/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1146 - accuracy: 0.9699
Epoch 89/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1161 - accuracy: 0.9671
Epoch 90/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1139 - accuracy: 0.9652
Epoch 91/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1102 - accuracy: 0.9690
Epoch 92/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1108 - accuracy: 0.9746
Epoch 93/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1132 - accuracy: 0.9662
Epoch 94/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1080 - accuracy: 0.9699
Epoch 95/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1117 - accuracy: 0.9568
Epoch 96/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1102 - accuracy: 0.9624
Epoch 97/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1086 - accuracy: 0.9652
Epoch 98/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1078 - accuracy: 0.9709
Epoch 99/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1040 - accuracy: 0.9737
Epoch 100/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1031 - accuracy: 0.9765
12/12 - 1s - loss: 0.1228 - accuracy: 0.9521 - 625ms/epoch - 52ms/step
Loss: 0.12275546789169312, Accuracy: 0.9521126747131348

Test the model without any migration data, just country data.

In [31]:
# Create our features
X = pd.get_dummies(migration_data_df.drop(columns=["migration_flag", "country_id_alpha", "country_name", "year", "country_area", "net_migration_rate", "migrant_male_population", "migrant_female_population", "total_migrant_population"]))

# Create our target
y = migration_data_df["migration_flag"]

In [32]:
# Split and scale the data.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
# Create the model.
rf_model = RandomForestClassifier(n_estimators=100, random_state=78)

# Fit the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [34]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [35]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

In [36]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [37]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          184           17
Actual 1           23          131

Accuracy Score : 0.8873239436619719
Classification Report
              precision    recall  f1-score   support

           0       0.89      0.92      0.90       201
           1       0.89      0.85      0.87       154

    accuracy                           0.89       355
   macro avg       0.89      0.88      0.88       355
weighted avg       0.89      0.89      0.89       355

In [38]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_

# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.27182084152561564, 'annual_growth_rate'),
 (0.1334078952920348, 'infant_mortality_rate'),
 (0.1165773463172062, 'total_fertility_rate'),
 (0.11270197805241466, 'crude_birth_rate'),
 (0.11159463656838718, 'life_expectancy_at_birth'),
 (0.08910291886915628, 'crude_death_rate'),
 (0.08824921229630588, 'total_country_population'),
 (0.07654517107887948, 'population_density')]

Deep Learning Model - Only with Country Data

In [39]:
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 16
hidden_nodes_layer2 = 8

nn = tf.keras.models.Sequential()

# First hidden layer 
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics 
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
34/34 [==============================] - 2s 3ms/step - loss: 0.6945 - accuracy: 0.5395
Epoch 2/100
34/34 [==============================] - 0s 3ms/step - loss: 0.6566 - accuracy: 0.6259
Epoch 3/100
34/34 [==============================] - 0s 3ms/step - loss: 0.6293 - accuracy: 0.6673
Epoch 4/100
34/34 [==============================] - 0s 3ms/step - loss: 0.6073 - accuracy: 0.6992
Epoch 5/100
34/34 [==============================] - 0s 3ms/step - loss: 0.5867 - accuracy: 0.7096
Epoch 6/100
34/34 [==============================] - 0s 3ms/step - loss: 0.5687 - accuracy: 0.7180
Epoch 7/100
34/34 [==============================] - 0s 3ms/step - loss: 0.5499 - accuracy: 0.7378
Epoch 8/100
34/34 [==============================] - 0s 3ms/step - loss: 0.5313 - accuracy: 0.7434
Epoch 9/100
34/34 [==============================] - 0s 3ms/step - loss: 0.5155 - accuracy: 0.7613
Epoch 10/100
34/34 [==============================] - 0s 3ms/step - loss: 0.4967 - accuracy: 0.7688
Epoch 11/100
34/34 [==============================] - 0s 3ms/step - loss: 0.4797 - accuracy: 0.7876
Epoch 12/100
34/34 [==============================] - 0s 3ms/step - loss: 0.4629 - accuracy: 0.7932
Epoch 13/100
34/34 [==============================] - 0s 3ms/step - loss: 0.4469 - accuracy: 0.8073
Epoch 14/100
34/34 [==============================] - 0s 3ms/step - loss: 0.4305 - accuracy: 0.8158
Epoch 15/100
34/34 [==============================] - 0s 4ms/step - loss: 0.4159 - accuracy: 0.8186
Epoch 16/100
34/34 [==============================] - 0s 4ms/step - loss: 0.4012 - accuracy: 0.8365
Epoch 17/100
34/34 [==============================] - 0s 4ms/step - loss: 0.3875 - accuracy: 0.8459
Epoch 18/100
34/34 [==============================] - 0s 4ms/step - loss: 0.3739 - accuracy: 0.8449
Epoch 19/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3609 - accuracy: 0.8515
Epoch 20/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3481 - accuracy: 0.8571
Epoch 21/100
34/34 [==============================] - 0s 3ms/step - loss: 0.3351 - accuracy: 0.8637
Epoch 22/100
34/34 [==============================] - 0s 4ms/step - loss: 0.3233 - accuracy: 0.8694
Epoch 23/100
34/34 [==============================] - 0s 4ms/step - loss: 0.3126 - accuracy: 0.8731
Epoch 24/100
34/34 [==============================] - 0s 4ms/step - loss: 0.3023 - accuracy: 0.8938
Epoch 25/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2938 - accuracy: 0.8825
Epoch 26/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2834 - accuracy: 0.8919
Epoch 27/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2780 - accuracy: 0.8957
Epoch 28/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2693 - accuracy: 0.8976
Epoch 29/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2635 - accuracy: 0.8985
Epoch 30/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2545 - accuracy: 0.9032
Epoch 31/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2482 - accuracy: 0.9098
Epoch 32/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2441 - accuracy: 0.9182
Epoch 33/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2377 - accuracy: 0.9079
Epoch 34/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2302 - accuracy: 0.9173
Epoch 35/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2268 - accuracy: 0.9182
Epoch 36/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2234 - accuracy: 0.9164
Epoch 37/100
34/34 [==============================] - 0s 3ms/step - loss: 0.2151 - accuracy: 0.9267
Epoch 38/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2110 - accuracy: 0.9286
Epoch 39/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2070 - accuracy: 0.9352
Epoch 40/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2030 - accuracy: 0.9370
Epoch 41/100
34/34 [==============================] - 0s 4ms/step - loss: 0.2002 - accuracy: 0.9342
Epoch 42/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1971 - accuracy: 0.9323
Epoch 43/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1918 - accuracy: 0.9445
Epoch 44/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1921 - accuracy: 0.9323
Epoch 45/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1859 - accuracy: 0.9455
Epoch 46/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1858 - accuracy: 0.9342
Epoch 47/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1792 - accuracy: 0.9427
Epoch 48/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1775 - accuracy: 0.9398
Epoch 49/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1763 - accuracy: 0.9370
Epoch 50/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1723 - accuracy: 0.9427
Epoch 51/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1667 - accuracy: 0.9502
Epoch 52/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1677 - accuracy: 0.9408
Epoch 53/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1710 - accuracy: 0.9436
Epoch 54/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1616 - accuracy: 0.9568
Epoch 55/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1602 - accuracy: 0.9530
Epoch 56/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1568 - accuracy: 0.9436
Epoch 57/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1604 - accuracy: 0.9530
Epoch 58/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1536 - accuracy: 0.9549
Epoch 59/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1558 - accuracy: 0.9511
Epoch 60/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1531 - accuracy: 0.9436
Epoch 61/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1482 - accuracy: 0.9502
Epoch 62/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1467 - accuracy: 0.9605
Epoch 63/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1457 - accuracy: 0.9530
Epoch 64/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1439 - accuracy: 0.9615
Epoch 65/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1451 - accuracy: 0.9502
Epoch 66/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1430 - accuracy: 0.9605
Epoch 67/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1477 - accuracy: 0.9539
Epoch 68/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1408 - accuracy: 0.9615
Epoch 69/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1393 - accuracy: 0.9586
Epoch 70/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1344 - accuracy: 0.9671
Epoch 71/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1392 - accuracy: 0.9539
Epoch 72/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1382 - accuracy: 0.9577
Epoch 73/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1405 - accuracy: 0.9492
Epoch 74/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1324 - accuracy: 0.9633
Epoch 75/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1304 - accuracy: 0.9605
Epoch 76/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1313 - accuracy: 0.9652
Epoch 77/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1282 - accuracy: 0.9652
Epoch 78/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1289 - accuracy: 0.9652
Epoch 79/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1291 - accuracy: 0.9624
Epoch 80/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1247 - accuracy: 0.9624
Epoch 81/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1242 - accuracy: 0.9633
Epoch 82/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1245 - accuracy: 0.9624
Epoch 83/100

34/34 [==============================] - 0s 3ms/step - loss: 0.1262 - accuracy: 0.9558
Epoch 84/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1259 - accuracy: 0.9633
Epoch 85/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1209 - accuracy: 0.9652
Epoch 86/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1357 - accuracy: 0.9521
Epoch 87/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1309 - accuracy: 0.9483
Epoch 88/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1236 - accuracy: 0.9577
Epoch 89/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1219 - accuracy: 0.9624
Epoch 90/100
34/34 [==============================] - 0s 4ms/step - loss: 0.1169 - accuracy: 0.9662
Epoch 91/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1165 - accuracy: 0.9671
Epoch 92/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1183 - accuracy: 0.9624
Epoch 93/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1148 - accuracy: 0.9643
Epoch 94/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1132 - accuracy: 0.9699
Epoch 95/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1187 - accuracy: 0.9633
Epoch 96/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1145 - accuracy: 0.9624
Epoch 97/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1114 - accuracy: 0.9727
Epoch 98/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1104 - accuracy: 0.9680
Epoch 99/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1100 - accuracy: 0.9718
Epoch 100/100
34/34 [==============================] - 0s 3ms/step - loss: 0.1133 - accuracy: 0.9615
12/12 - 0s - loss: 0.1283 - accuracy: 0.9465 - 315ms/epoch - 26ms/step
Loss: 0.1283373087644577, Accuracy: 0.9464788436889648

### Now, we need to test our model on new data. For this, we have to transform the "Validation_Data.csv" columns.

In [40]:
# Load in the dataset.
filepath = "https://raw.githubusercontent.com/pavlarsen/Final_Project/main/Resources/Data/Validation_Data.csv"
validation_df = pd.read_csv(filepath, on_bad_lines = "skip").drop(["Row", "FIPS", "Area in Square Kilometers"], axis = 1)
validation_df.head()

,GENC,Country/Area Name,Year,Population,Annual Growth Rate %,Population Density (People per Sq. Km.),Total Fertility Rate,Crude Birth Rate,"Life Expectancy at Birth, Both Sexes","Infant Mortality Rate, Both Sexes",Crude Death Rate,Net Migration Rate
0,AF,Afghanistan,2022,38346720,2.304,58.8,4.6240,35.46,53.65,104.89,12.33,-0.10
1,AL,Albania,2022,3095344,0.215,113.0,1.5402,12.69,79.47,10.82,7.31,-3.23
2,DZ,Algeria,2022,44178884,1.337,18.5,2.5058,18.52,78.03,19.72,4.32,-0.82
3,AS,American Samoa,2022,45443,-1.919,229.5,2.2060,16.70,75.32,10.06,6.10,-29.80
4,AD,Andorra,2022,85560,-0.104,182.8,1.4474,6.88,83.42,3.44,7.92,0.00

In [41]:
# Rename the columns.
renamed_df = validation_df.rename(columns = {"GENC": "Country_ID_Alpha", "Country/Area Name": "Country_Name",
                                             "Population": "Total_Country_Population", "Annual Growth Rate %" : "Annual_Growth_Rate", 
                                             "Population Density (People per Sq. Km.)" : "Population_Density", "Total Fertility Rate": "Total_Fertility_Rate",
                                             "Crude Birth Rate" : "Crude_Birth_Rate", "Life Expectancy at Birth, Both Sexes" : "Life_Expectancy_at_Birth",
                                             "Infant Mortality Rate, Both Sexes" : "Infant_Mortality_Rate", "Crude Death Rate" : "Crude_Death_Rate",
                                             "Net Migration Rate" : "Net_Migration_Rate"})
renamed_df.head()

,Country_ID_Alpha,Country_Name,Year,Total_Country_Population,Annual_Growth_Rate,Population_Density,Total_Fertility_Rate,Crude_Birth_Rate,Life_Expectancy_at_Birth,Infant_Mortality_Rate,Crude_Death_Rate,Net_Migration_Rate
0,AF,Afghanistan,2022,38346720,2.304,58.8,4.6240,35.46,53.65,104.89,12.33,-0.10
1,AL,Albania,2022,3095344,0.215,113.0,1.5402,12.69,79.47,10.82,7.31,-3.23
2,DZ,Algeria,2022,44178884,1.337,18.5,2.5058,18.52,78.03,19.72,4.32,-0.82
3,AS,American Samoa,2022,45443,-1.919,229.5,2.2060,16.70,75.32,10.06,6.10,-29.80
4,AD,Andorra,2022,85560,-0.104,182.8,1.4474,6.88,83.42,3.44,7.92,0.00

In [42]:
# Add boolean column based on "Net_Migration_Rate"
renamed_df["Migration_Flag"] = np.where(renamed_df["Net_Migration_Rate"] >= 0, 1, 0)
renamed_df.head()

,Country_ID_Alpha,Country_Name,Year,Total_Country_Population,Annual_Growth_Rate,Population_Density,Total_Fertility_Rate,Crude_Birth_Rate,Life_Expectancy_at_Birth,Infant_Mortality_Rate,Crude_Death_Rate,Net_Migration_Rate,Migration_Flag
0,AF,Afghanistan,2022,38346720,2.304,58.8,4.6240,35.46,53.65,104.89,12.33,-0.10,0
1,AL,Albania,2022,3095344,0.215,113.0,1.5402,12.69,79.47,10.82,7.31,-3.23,0
2,DZ,Algeria,2022,44178884,1.337,18.5,2.5058,18.52,78.03,19.72,4.32,-0.82,0
3,AS,American Samoa,2022,45443,-1.919,229.5,2.2060,16.70,75.32,10.06,6.10,-29.80,0
4,AD,Andorra,2022,85560,-0.104,182.8,1.4474,6.88,83.42,3.44,7.92,0.00,1

In [43]:
renamed_df.dtypes

Country_ID_Alpha             object
Country_Name                 object
Year                          int64
Total_Country_Population      int64
Annual_Growth_Rate          float64
Population_Density          float64
Total_Fertility_Rate        float64
Crude_Birth_Rate            float64
Life_Expectancy_at_Birth    float64
Infant_Mortality_Rate       float64
Crude_Death_Rate            float64
Net_Migration_Rate          float64
Migration_Flag                int32
dtype: object

In [44]:
# Again, replace Namibia's country code. 
renamed_df[renamed_df["Country_ID_Alpha"].isna()]

,Country_ID_Alpha,Country_Name,Year,Total_Country_Population,Annual_Growth_Rate,Population_Density,Total_Fertility_Rate,Crude_Birth_Rate,Life_Expectancy_at_Birth,Infant_Mortality_Rate,Crude_Death_Rate,Net_Migration_Rate,Migration_Flag
140,NaN,Namibia,2022,2727409,1.816,3.3,2.982,25.01,66.47,29.42,6.85,0.0,1

In [45]:
# Replace the nan values with the country code for Namibia ("NA")
complete_df = renamed_df.copy()
complete_df = complete_df.fillna("NA")
complete_df.isna().sum()

Country_ID_Alpha            0
Country_Name                0
Year                        0
Total_Country_Population    0
Annual_Growth_Rate          0
Population_Density          0
Total_Fertility_Rate        0
Crude_Birth_Rate            0
Life_Expectancy_at_Birth    0
Infant_Mortality_Rate       0
Crude_Death_Rate            0
Net_Migration_Rate          0
Migration_Flag              0
dtype: int64

In [47]:
# Export the DataFrame
complete_df.to_csv("Validation_Data_Final.csv", index=False)

### Connect to the Validation Database through SQL

In [5]:
# Connecting to the final database through SQL
import sqlalchemy as db
import psycopg2

from sqlalchemy import create_engine
from config import password


# Connect to your postgres DB
conn = psycopg2.connect(
    host="localhost",
    port = "5432",
    database="final_project",
    user="postgres",
    password= password)

# Open a cursor to perform database operations
cur = conn.cursor()

# Execute a query
cur.execute("SELECT * FROM validation_data")

# Retrieve query results
records = cur.fetchall()

In [6]:
validation_data = pd.DataFrame(records, columns = ["Country_ID_Alpha", "Country_Name", "Year",
                                                          "Total_Country_Population", "Annual_Growth_Rate", "Population_Density",
                                                          "Total_Fertility_Rate", "Crude_Birth_Rate", "Life_Expectancy_at_Birth",
                                                          "Infant_Mortality_Rate", "Crude_Death_Rate", "Net_Migration_Rate",
                                                          "Migration_Flag"])
validation_data.head()

,Country_ID_Alpha,Country_Name,Year,Total_Country_Population,Annual_Growth_Rate,Population_Density,Total_Fertility_Rate,Crude_Birth_Rate,Life_Expectancy_at_Birth,Infant_Mortality_Rate,Crude_Death_Rate,Net_Migration_Rate,Migration_Flag
0,AF,Afghanistan,2022,38346720,2.304,58.8,4.6240,35.46,53.65,104.89,12.33,-0.10,False
1,AL,Albania,2022,3095344,0.215,113.0,1.5402,12.69,79.47,10.82,7.31,-3.23,False
2,DZ,Algeria,2022,44178884,1.337,18.5,2.5058,18.52,78.03,19.72,4.32,-0.82,False
3,AS,American Samoa,2022,45443,-1.919,229.5,2.2060,16.70,75.32,10.06,6.10,-29.80,False
4,AD,Andorra,2022,85560,-0.104,182.8,1.4474,6.88,83.42,3.44,7.92,0.00,True

In [7]:
# Change boolean values for "migration_flag" for binary values
validation_data["Migration_Flag"] = validation_data["Migration_Flag"].replace({True: 1, False: 0})
validation_data.head()

,Country_ID_Alpha,Country_Name,Year,Total_Country_Population,Annual_Growth_Rate,Population_Density,Total_Fertility_Rate,Crude_Birth_Rate,Life_Expectancy_at_Birth,Infant_Mortality_Rate,Crude_Death_Rate,Net_Migration_Rate,Migration_Flag
0,AF,Afghanistan,2022,38346720,2.304,58.8,4.6240,35.46,53.65,104.89,12.33,-0.10,0
1,AL,Albania,2022,3095344,0.215,113.0,1.5402,12.69,79.47,10.82,7.31,-3.23,0
2,DZ,Algeria,2022,44178884,1.337,18.5,2.5058,18.52,78.03,19.72,4.32,-0.82,0
3,AS,American Samoa,2022,45443,-1.919,229.5,2.2060,16.70,75.32,10.06,6.10,-29.80,0
4,AD,Andorra,2022,85560,-0.104,182.8,1.4474,6.88,83.42,3.44,7.92,0.00,1

In [8]:
# Making sure data was imported correctly.
validation_data.dtypes

Country_ID_Alpha             object
Country_Name                 object
Year                          int64
Total_Country_Population      int64
Annual_Growth_Rate          float64
Population_Density          float64
Total_Fertility_Rate        float64
Crude_Birth_Rate            float64
Life_Expectancy_at_Birth    float64
Infant_Mortality_Rate       float64
Crude_Death_Rate            float64
Net_Migration_Rate          float64
Migration_Flag                int64
dtype: object

In [9]:
validation_data.isna().sum()

Country_ID_Alpha            0
Country_Name                0
Year                        0
Total_Country_Population    0
Annual_Growth_Rate          0
Population_Density          0
Total_Fertility_Rate        0
Crude_Birth_Rate            0
Life_Expectancy_at_Birth    0
Infant_Mortality_Rate       0
Crude_Death_Rate            0
Net_Migration_Rate          0
Migration_Flag              0
dtype: int64

In [10]:
validation_data.count()

Country_ID_Alpha            227
Country_Name                227
Year                        227
Total_Country_Population    227
Annual_Growth_Rate          227
Population_Density          227
Total_Fertility_Rate        227
Crude_Birth_Rate            227
Life_Expectancy_at_Birth    227
Infant_Mortality_Rate       227
Crude_Death_Rate            227
Net_Migration_Rate          227
Migration_Flag              227
dtype: int64