In [35]:
import warnings
warnings.filterwarnings('ignore')

In [36]:
# Import dependencies
import pandas as pd
import numpy as np
from google.colab import files
from pathlib import Path
from collections import Counter

In [37]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from imblearn.metrics import classification_report_imbalanced

In [38]:
# Load in the migration_data Dataset
path = "https://raw.githubusercontent.com/pavlarsen/Final_Project/main/migration_Data.csv"
migration_data_df = pd.read_csv(path, on_bad_lines='skip')
migration_data_df.head(10)

,country_id_alpha,country_name,year,total_country_population,annual_growth_rate,country_area,population_density,total_fertility_rate,crude_birth_rate,life_expectancy_at_birth,infant_mortality_rate,crude_death_rate,net_migration_rate,migration_flag,total_migrant_population,migrant_male_population,migrant_female_population
0,AF,Afghanistan,1990,13568282,-1.928,652230,20.8,8.0000,54.44,42.19,167.73,22.50,-51.23,f,57686,32558,25128
1,AF,Afghanistan,1995,19445013,3.492,652230,29.8,8.0000,53.23,43.88,156.75,20.99,2.68,t,71522,39105,32417
2,AF,Afghanistan,2000,22461349,-1.328,652230,34.4,8.0000,51.35,45.49,146.75,19.33,-45.30,f,75917,42848,33069
3,AF,Afghanistan,2005,26332646,3.439,652230,40.4,6.3707,41.51,47.06,137.56,16.55,9.43,t,87314,49281,38033
4,AF,Afghanistan,2010,29116851,2.139,652230,44.6,5.8532,39.77,48.93,127.79,15.13,-3.25,f,102276,57726,44550
5,AF,Afghanistan,2015,32547550,2.306,652230,49.9,5.3260,38.52,50.87,118.07,13.96,-1.51,f,339432,171550,167882
6,AF,Afghanistan,2020,36594776,2.366,652230,56.1,4.8200,36.56,52.84,108.64,12.80,-0.10,f,144098,69189,74909
7,AL,Albania,1990,3244925,1.110,27398,118.4,3.0884,25.72,71.16,44.28,6.01,-8.61,f,66013,30579,35434
8,AL,Albania,1995,3158153,1.491,27398,115.3,2.9429,23.32,71.24,50.50,6.20,-2.21,f,71354,33284,38070
9,AL,Albania,2000,3158351,-1.019,27398,115.3,2.1716,16.43,74.70,22.62,5.39,-21.22,f,76695,35990,40705

In [39]:
# Reorder columns
columns=["country_id_alpha", "country_name", "year", "annual_growth_rate", "country_area", "population_density", "total_fertility_rate", "crude_birth_rate", "life_expectancy_at_birth", "infant_mortality_rate", "crude_death_rate", "total_country_population", "total_migrant_population", "migrant_male_population", "migrant_female_population", "net_migration_rate", "migration_flag"]
migration_data_df = migration_data_df[columns]
migration_data_df.head()

,country_id_alpha,country_name,year,annual_growth_rate,country_area,population_density,total_fertility_rate,crude_birth_rate,life_expectancy_at_birth,infant_mortality_rate,crude_death_rate,total_country_population,total_migrant_population,migrant_male_population,migrant_female_population,net_migration_rate,migration_flag
0,AF,Afghanistan,1990,-1.928,652230,20.8,8.0000,54.44,42.19,167.73,22.50,13568282,57686,32558,25128,-51.23,f
1,AF,Afghanistan,1995,3.492,652230,29.8,8.0000,53.23,43.88,156.75,20.99,19445013,71522,39105,32417,2.68,t
2,AF,Afghanistan,2000,-1.328,652230,34.4,8.0000,51.35,45.49,146.75,19.33,22461349,75917,42848,33069,-45.30,f
3,AF,Afghanistan,2005,3.439,652230,40.4,6.3707,41.51,47.06,137.56,16.55,26332646,87314,49281,38033,9.43,t
4,AF,Afghanistan,2010,2.139,652230,44.6,5.8532,39.77,48.93,127.79,15.13,29116851,102276,57726,44550,-3.25,f

In [40]:
# Change boolean values for "migration_flag" for binary values
migration_data_df["migration_flag"] = migration_data_df["migration_flag"].replace({"t": 1, "f": 0})
migration_data_df.head()

,country_id_alpha,country_name,year,annual_growth_rate,country_area,population_density,total_fertility_rate,crude_birth_rate,life_expectancy_at_birth,infant_mortality_rate,crude_death_rate,total_country_population,total_migrant_population,migrant_male_population,migrant_female_population,net_migration_rate,migration_flag
0,AF,Afghanistan,1990,-1.928,652230,20.8,8.0000,54.44,42.19,167.73,22.50,13568282,57686,32558,25128,-51.23,0
1,AF,Afghanistan,1995,3.492,652230,29.8,8.0000,53.23,43.88,156.75,20.99,19445013,71522,39105,32417,2.68,1
2,AF,Afghanistan,2000,-1.328,652230,34.4,8.0000,51.35,45.49,146.75,19.33,22461349,75917,42848,33069,-45.30,0
3,AF,Afghanistan,2005,3.439,652230,40.4,6.3707,41.51,47.06,137.56,16.55,26332646,87314,49281,38033,9.43,1
4,AF,Afghanistan,2010,2.139,652230,44.6,5.8532,39.77,48.93,127.79,15.13,29116851,102276,57726,44550,-3.25,0

In [41]:
migration_data_df.dtypes

country_id_alpha              object
country_name                  object
year                           int64
annual_growth_rate           float64
country_area                   int64
population_density           float64
total_fertility_rate         float64
crude_birth_rate             float64
life_expectancy_at_birth     float64
infant_mortality_rate        float64
crude_death_rate             float64
total_country_population       int64
total_migrant_population       int64
migrant_male_population        int64
migrant_female_population      int64
net_migration_rate           float64
migration_flag                 int64
dtype: object

Split the data into Training and Testing

In [42]:
# Create our features
X = pd.get_dummies(migration_data_df.drop(columns=["migration_flag", "country_id_alpha", "country_name", "year", "country_area", "net_migration_rate"]))

# Create our target
y = migration_data_df["migration_flag"]

In [43]:
X.describe()

,annual_growth_rate,population_density,total_fertility_rate,crude_birth_rate,life_expectancy_at_birth,infant_mortality_rate,crude_death_rate,total_country_population,total_migrant_population,migrant_male_population,migrant_female_population
count,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1419.000000,1.419000e+03,1.419000e+03,1.419000e+03,1.419000e+03
mean,1.278055,384.949824,3.031473,22.896965,69.572685,33.215934,8.417052,2.969279e+07,8.120876e+05,4.187911e+05,3.932964e+05
std,3.967187,1762.000530,1.617946,11.612724,9.399712,32.491108,3.642378,1.223040e+08,2.174123e+06,1.116949e+06,1.080226e+06
min,-115.363000,0.000000,0.879600,6.630000,29.470000,1.540000,1.200000,3.951000e+03,1.080000e+02,6.100000e+01,4.700000e+01
25%,0.423000,29.100000,1.771700,12.920000,64.255000,8.910000,5.960000,5.821105e+05,2.802700e+04,1.465150e+04,1.280450e+04
50%,1.237000,77.300000,2.450000,20.040000,71.680000,20.700000,7.630000,5.354669e+06,1.522350e+05,7.743600e+04,7.459400e+04
75%,2.334500,182.000000,4.104150,31.535000,76.430000,48.505000,10.110000,1.869113e+07,6.460165e+05,3.201200e+05,3.056490e+05
max,34.084000,22332.000000,8.270000,57.270000,89.780000,180.130000,32.940000,1.404032e+09,5.063284e+07,2.447900e+07,2.615384e+07

In [44]:
# Check the balance of our target values
y.value_counts()

0    803
1    616
Name: migration_flag, dtype: int64

In [45]:
# Split the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

Scale the data

In [46]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [47]:
X_scaler = scaler.fit(X_train)

In [48]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Balanced Random Forest Classifier - With migration info

In [15]:
# Create the Random Forest Classifier instance
from sklearn.ensemble import RandomForestClassifier

In [16]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=78)

# Fit the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [17]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [18]:
predictions

array([1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1])

In [19]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

In [20]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [21]:
# Displaying results
print("Confusion Matrix")
display(cm_df)

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          179           22
Actual 1           23          131

In [22]:
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.8732394366197183

In [23]:
print("Classification Report")
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           0       0.89      0.89      0.89       201
           1       0.86      0.85      0.85       154

    accuracy                           0.87       355
   macro avg       0.87      0.87      0.87       355
weighted avg       0.87      0.87      0.87       355

In [24]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.26084976, 0.0541934 , 0.10127538, 0.09225324, 0.0786409 ,
       0.1140517 , 0.06210434, 0.07212841, 0.05029486, 0.06018359,
       0.05402441])

In [25]:
# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.26084976311660923, 'annual_growth_rate'),
 (0.11405170209762115, 'infant_mortality_rate'),
 (0.1012753776064856, 'total_fertility_rate'),
 (0.09225323889743768, 'crude_birth_rate'),
 (0.07864090101069811, 'life_expectancy_at_birth'),
 (0.07212840976272065, 'total_country_population'),
 (0.06210434421989633, 'crude_death_rate'),
 (0.060183594183332814, 'migrant_male_population'),
 (0.05419339880734877, 'population_density'),
 (0.0540244078268078, 'migrant_female_population'),
 (0.05029486247104198, 'total_migrant_population')]

Deep Learning Model - With Migration info

In [49]:
# Import dependencies
import tensorflow as tf

In [52]:
# Define the deep neural model
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 16
hidden_nodes_layer2 = 8

nn = tf.keras.models.Sequential()

# First hidden layer 
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics 
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
34/34 [==============================] - 1s 1ms/step - loss: 0.6716 - accuracy: 0.5977
Epoch 2/100
34/34 [==============================] - 0s 2ms/step - loss: 0.6328 - accuracy: 0.6786
Epoch 3/100
34/34 [==============================] - 0s 1ms/step - loss: 0.6131 - accuracy: 0.6908
Epoch 4/100
34/34 [==============================] - 0s 2ms/step - loss: 0.5992 - accuracy: 0.7058
Epoch 5/100
34/34 [==============================] - 0s 2ms/step - loss: 0.5847 - accuracy: 0.7190
Epoch 6/100
34/34 [==============================] - 0s 1ms/step - loss: 0.5693 - accuracy: 0.7218
Epoch 7/100
34/34 [==============================] - 0s 2ms/step - loss: 0.5538 - accuracy: 0.7321
Epoch 8/100
34/34 [==============================] - 0s 1ms/step - loss: 0.5384 - accuracy: 0.7500
Epoch 9/100
34/34 [==============================] - 0s 1ms/step - loss: 0.5207 - accuracy: 0.7547
Epoch 10/100
34/34 [==============================] - 0s 2ms/step - loss: 0.5047 - accuracy: 0.7679
Epoch 11/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4868 - accuracy: 0.7679
Epoch 12/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4710 - accuracy: 0.7867
Epoch 13/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4529 - accuracy: 0.7914
Epoch 14/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4362 - accuracy: 0.8045
Epoch 15/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4212 - accuracy: 0.8195
Epoch 16/100
34/34 [==============================] - 0s 2ms/step - loss: 0.4084 - accuracy: 0.8130
Epoch 17/100
34/34 [==============================] - 0s 1ms/step - loss: 0.3895 - accuracy: 0.8430
Epoch 18/100
34/34 [==============================] - 0s 1ms/step - loss: 0.3753 - accuracy: 0.8553
Epoch 19/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3601 - accuracy: 0.8571
Epoch 20/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3460 - accuracy: 0.8562
Epoch 21/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8722
Epoch 22/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3195 - accuracy: 0.8816
Epoch 23/100
34/34 [==============================] - 0s 2ms/step - loss: 0.3109 - accuracy: 0.8778
Epoch 24/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2978 - accuracy: 0.8825
Epoch 25/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2873 - accuracy: 0.8929
Epoch 26/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2803 - accuracy: 0.8910
Epoch 27/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2740 - accuracy: 0.8966
Epoch 28/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2623 - accuracy: 0.9060
Epoch 29/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2538 - accuracy: 0.8976
Epoch 30/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2506 - accuracy: 0.9098
Epoch 31/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2402 - accuracy: 0.9164
Epoch 32/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2360 - accuracy: 0.9154
Epoch 33/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2283 - accuracy: 0.9220
Epoch 34/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2238 - accuracy: 0.9220
Epoch 35/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2227 - accuracy: 0.9154
Epoch 36/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2119 - accuracy: 0.9342
Epoch 37/100
34/34 [==============================] - 0s 2ms/step - loss: 0.2095 - accuracy: 0.9333
Epoch 38/100
34/34 [==============================] - 0s 1ms/step - loss: 0.2047 - accuracy: 0.9182
Epoch 39/100
34/34 [==============================] - 0s 1ms/step - loss: 0.2027 - accuracy: 0.9389
Epoch 40/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1989 - accuracy: 0.9408
Epoch 41/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1927 - accuracy: 0.9398
Epoch 42/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1886 - accuracy: 0.9464
Epoch 43/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1885 - accuracy: 0.9398
Epoch 44/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1822 - accuracy: 0.9408
Epoch 45/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1863 - accuracy: 0.9417
Epoch 46/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1799 - accuracy: 0.9352
Epoch 47/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1733 - accuracy: 0.9455
Epoch 48/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1727 - accuracy: 0.9511
Epoch 49/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1682 - accuracy: 0.9464
Epoch 50/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1661 - accuracy: 0.9427
Epoch 51/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1676 - accuracy: 0.9436
Epoch 52/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1612 - accuracy: 0.9521
Epoch 53/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1571 - accuracy: 0.9530
Epoch 54/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1549 - accuracy: 0.9568
Epoch 55/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1565 - accuracy: 0.9511
Epoch 56/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1519 - accuracy: 0.9549
Epoch 57/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1512 - accuracy: 0.9464
Epoch 58/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1483 - accuracy: 0.9539
Epoch 59/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1478 - accuracy: 0.9539
Epoch 60/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1455 - accuracy: 0.9521
Epoch 61/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1455 - accuracy: 0.9511
Epoch 62/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1468 - accuracy: 0.9549
Epoch 63/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1419 - accuracy: 0.9521
Epoch 64/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1434 - accuracy: 0.9511
Epoch 65/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1358 - accuracy: 0.9643
Epoch 66/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1347 - accuracy: 0.9577
Epoch 67/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1391 - accuracy: 0.9539
Epoch 68/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1339 - accuracy: 0.9568
Epoch 69/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1313 - accuracy: 0.9615
Epoch 70/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1310 - accuracy: 0.9577
Epoch 71/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1313 - accuracy: 0.9558
Epoch 72/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1322 - accuracy: 0.9539
Epoch 73/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1329 - accuracy: 0.9511
Epoch 74/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1297 - accuracy: 0.9558
Epoch 75/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1336 - accuracy: 0.9539
Epoch 76/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1248 - accuracy: 0.9558
Epoch 77/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1234 - accuracy: 0.9643
Epoch 78/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1227 - accuracy: 0.9624
Epoch 79/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1263 - accuracy: 0.9558
Epoch 80/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1326 - accuracy: 0.9549
Epoch 81/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1278 - accuracy: 0.9474
Epoch 82/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1178 - accuracy: 0.9690
Epoch 83/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1226 - accuracy: 0.9577
Epoch 84/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1213 - accuracy: 0.9596
Epoch 85/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1151 - accuracy: 0.9633
Epoch 86/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1146 - accuracy: 0.9690
Epoch 87/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1139 - accuracy: 0.9680
Epoch 88/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1161 - accuracy: 0.9633
Epoch 89/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1144 - accuracy: 0.9605
Epoch 90/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1123 - accuracy: 0.9699
Epoch 91/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1152 - accuracy: 0.9605
Epoch 92/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1145 - accuracy: 0.9558
Epoch 93/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1170 - accuracy: 0.9605
Epoch 94/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1120 - accuracy: 0.9624
Epoch 95/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1077 - accuracy: 0.9652
Epoch 96/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1104 - accuracy: 0.9680
Epoch 97/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1084 - accuracy: 0.9662
Epoch 98/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1095 - accuracy: 0.9652
Epoch 99/100
34/34 [==============================] - 0s 2ms/step - loss: 0.1117 - accuracy: 0.9652
Epoch 100/100
34/34 [==============================] - 0s 1ms/step - loss: 0.1053 - accuracy: 0.9699
12/12 - 0s - loss: 0.1191 - accuracy: 0.9577 - 117ms/epoch - 10ms/step
Loss: 0.11909790337085724, Accuracy: 0.9577465057373047

Test the model without any migration data, just country data.

In [26]:
# Create our features
X = pd.get_dummies(migration_data_df.drop(columns=["migration_flag", "country_id_alpha", "country_name", "year", "country_area", "net_migration_rate", "migrant_male_population", "migrant_female_population", "total_migrant_population"]))

# Create our target
y = migration_data_df["migration_flag"]

In [27]:
# Split and scale the data.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
# Create the model.
rf_model = RandomForestClassifier(n_estimators=100, random_state=78)

# Fit the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [29]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [30]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

In [31]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [32]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          184           17
Actual 1           23          131

Accuracy Score : 0.8873239436619719
Classification Report
              precision    recall  f1-score   support

           0       0.89      0.92      0.90       201
           1       0.89      0.85      0.87       154

    accuracy                           0.89       355
   macro avg       0.89      0.88      0.88       355
weighted avg       0.89      0.89      0.89       355

In [33]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_

# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.27182084152561564, 'annual_growth_rate'),
 (0.1334078952920348, 'infant_mortality_rate'),
 (0.1165773463172062, 'total_fertility_rate'),
 (0.11270197805241466, 'crude_birth_rate'),
 (0.11159463656838718, 'life_expectancy_at_birth'),
 (0.08910291886915628, 'crude_death_rate'),
 (0.08824921229630588, 'total_country_population'),
 (0.07654517107887948, 'population_density')]